.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}
j
.end{
    align-self: flex-end;
}
.flex-end{
    justify-content: flex-end;
}

.align-self-center{
    align-self: center;

}