

.keep-head-container{
    background: antiquewhite;
    border-radius: 20px;
    margin: 10px 5px;
}
.keep-head-container h1{
margin-left: 10px;
}
.img-header{
    width: 100px;
   height: 100px;
   right: 20px;
   border-radius: 20px;
}

.filter-input{
    background-color: rgb(160, 160, 94);
background-color: bisque;
    width: 200px;
    margin-right: 5px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}




.add-link{
    color: antiquewhite;
    font-size: 35px;
    margin-left: 10px;
}

