@import url('reset.css');
@import url('fonts.css');
@import url('helpers.css');

* {
    box-sizing: border-box;
}

a,a:active,a:visited{color:inherit;text-decoration: none}

body{
    font-family: 'Alef', sans-serif;
    font-size:18px;   
}

input {
    width:100%;
    font-size:26px;
    border:none;
    border-bottom: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

textarea{
    margin: 20px 0;
    width:100%;
    overflow: auto;
    min-height: 200px;
    font-size:26px;

} 

h1{
    font-size: 1.5em;
    /* margin-bottom:15px; */
}

/* MOBILE FIRST */
.main-container{
/* display: grid; */
/* height: 100vh; */
}

header{
    background-color: gold;
    color: black;
    height: 80px;
    line-height: 80px;
}

header > * {
    padding: 0 20px;
}

/* header h1 {
    font-size:1.5em;
} */

.controller {
padding-bottom: 15px;
}

.controller ul {
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    background-color: black;
    color: gold;
}

.controller input.search-mail {
    /* width: 100%; */
    /* font-size:26px;
    border:none;
    border-bottom: 1px solid black; */
    /* display: block; */
}
.controller .compose {
    background-color: black;
    border-radius: 15px;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index:100;
}

.controller .sub-controller{
    padding:10px;
    background-color: gold;
}

.controller .sub-controller span{
    cursor: pointer;
}

.emails {
    padding: 0 10px;
}

.emails .email {
    line-height: 1.4em;
    padding:15px 0;
    border-bottom: 1px solid goldenrod;
}

.email.unread {
    font-weight: bold;
}

.emails .email .head {
    font-size:1.2em;
    line-height:1.2em;
    margin-bottom: 10px;
}

.emails .email .time{
padding-right: 10px;
}

.emails .email .subject{
    padding-bottom: 10px;
    font-size:1.1em;
    line-height: 1.1em;
}

.emails .email .mail-control{
    padding-top: 15px;
    font-weight: normal;
}

.email-editor .header{
background-color:black;
color:gold;
padding:15px;
line-height: 15px;
}

.email-editor .buttons{
    padding:15px;
    background-color: gold;
    color: black;
}

.email-editor .buttons button{
    background: inherit;
    font-size: inherit;
    border: none;
    cursor: pointer;
}

.email-details{
    padding: 0 10px;
}

.email-details .time{
    font-size:0.9em;
}
.email-details > *{
    font-size:1.2em;
    padding: 15px 0;
    line-height: 1.2em;
}

footer {
    height: 40px;
    line-height: 40px;
    background-color: black;
    color:white;
    text-align: center;
}






/* TABLET */
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }


/* DESKTOP */

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .controller .compose {
        border-radius: none;
        padding: inherit;
        position: inherit;
    }

}